.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
  &.base-row {
    background: white;
  }
}
%unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
%transitions {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
%icons {
  [class^=icon-], [class*=" icon-"] {
    font-family: FontAwesome;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
  }
}
%social{
  .icon-twitter:before{content:"\f099"}
  .icon-facebook:before{content:"\f09a"}
  .icon-instagram:before{content:"\f16d"}
  .icon-email:before{content:"\f003"}
  .icon-vine:before{content:"\f1ca"}
  .icon-youtube:before{content:"\f167"}
  .icon-pinterest:before{content: "\f231"}
  .icon-print:before{content: "\f02f"}
}
.center-align {
  font-size: 0;
  white-space: nowrap;
  text-align: center;
}
.social {
  @extend %unstyled-list;
  li {
    @extend %icons;
    @extend %social;
    display: inline-block;
    vertical-align: middle;
  }
}

// mixins, animations, etc
@mixin transition ($duration, $easing){
  -webkit-transition: all $duration $easing;
  -moz-transition: all $duration $easing;
  -o-transition: all $duration $easing;
  -ms-transition: all $duration $easing;
  transition: all $duration $easing;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-20px));
  }
  60% {
    @include transform(translateY(-10px));
  }
}
@mixin shadow($r,$g,$b,$opacity, $offsetX, $offsetY, $blur){
  -webkit-filter: drop-shadow($offsetX $offsetY $blur rgba($r,$g,$b,$opacity));
  filter: drop-shadow($offsetX $offsetY $blur rgba($r,$g,$b,$opacity));
}
//hide controls for video
::-webkit-media-controls {
  display:none !important;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }
  100% {
    opacity: 1;
    @include transform(none);
  }
}
@keyframes fadeInBottom{
  0% {
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    @include transform(none);
  }
}
@keyframes fadeOutBottom {
  0% {
    opacity: 1;
  }
  100% {
    @include transform(translate3d(0, 100%, 0));
    opacity: 0;
  }
}
@keyframes subtleBounce {
  0%,  100% {
    @include transform(translateY(0));
  }
  20% {
    @include transform(translateY(-10px));
  }
  60% {
    @include transform(translateY(10px));
  }
}
@keyframes rotateRight {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(90deg));
  }
}
@keyframes leftRightleft {
  0% {
    @include transform(rotate(-2deg));
  }
  50% {
    @include transform(rotate(2deg));
  }
  100% {
    @include transform(rotate(-1deg));
  }
}